@using System.Drawing
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meshed Solutions</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-50381583-2', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body>
    <div class="container">
        <div class="center">
            <img src="~/images/MeshedSolutions_Logo.png" height="30%" width="30%">
        </div>

        <nav class="center">
            <ul class="nav nav-pills nav-stacked visible-xs visible-sm">
                <li role="presentation">@Html.ActionLink("Home", "Index", "Home")</li>
                <li role="presentation">@Html.ActionLink("What We Do", "Services", "Home")</li>
                <li role="presentation">@Html.ActionLink("Contact Us", "Contact", "Home")</li>
            </ul>

            <ul class="nav nav-pills center visible-md-inline-block visible-lg-inline-block" style="display: inline-block">
                <li role="presentation">@Html.ActionLink("Home", "Index", "Home")</li>
                <li role="presentation">@Html.ActionLink("What We Do", "Services", "Home")</li>
                <li role="presentation">@Html.ActionLink("Contact Us", "Contact", "Home")</li>
            </ul>
        </nav>

        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <!-- Drip -->
    <script type="text/javascript">
        var _dcq = _dcq || [];
        var _dcs = _dcs || {};
        _dcs.account = '6163280';

        (function () {
            var dc = document.createElement('script');
            dc.type = 'text/javascript'; dc.async = true;
            dc.src = '//tag.getdrip.com/6163280.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(dc, s);
        })();
    </script></body>
</html>
